

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--clr-btn-primary));
  color: hsl(var(--clr-btn-primary-text));
  font-size: var(--fs-400);
  padding: .5rem 1.4rem;
  border: none;
  border-radius: .2rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  cursor: pointer;
  transition: .2s box-shadow ease-in-out, .2s transform ease-in-out;
  

  &:hover {
    box-shadow: 0 0 .7rem hsl(var(--clr-foreground));
    transform: scale(.9);
  }
}