
@use '@/styles/mixins';

.journal-card {

  padding: .5rem 1rem;
  border: 1px solid hsl(var(--clr-border-light));
  border-radius: .2rem;
  cursor: pointer;

  &:hover {
    background: hsl(var(--clr-hover));
  }

  &__title {
    font-size: var(--fs-500);
    margin-block-start: .5rem;
    @include mixins.lineClamp(2);
  }

  &__info {
    margin-block-start: .4rem;
    font-size: var(--fs-300);
    display: flex;
    gap: .9rem;
    color: hsl(var(--clr-neutral-md));
  }

  &__author {
    &:hover {
      color: hsl(var(--clr-foreground))
    }
  }
}