
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
    
    line-height: 1.5;
    min-height: 100vh;
}

p {
  word-break: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
  color: unset;
  text-decoration: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}